.budget{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h3{
  font-size: 2rem;
  margin-block-end: 0;
  text-decoration: underline;
}
ul{
  list-style: none;
  font-size: 1.5rem;
}
li{
  margin-bottom: 0.5rem;
}
li div{
  font-weight: bold;
}
.subList{
  display: flex;
  flex-direction: column;
  
}
.subList input{
  width: 4rem;
  height: 2.2rem;
  margin-top: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
  border: none;
}

.less, .more{
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2rem;
  margin-left: 0.5rem;
  background-color: orange;
  color: white;
  border-radius: 20%;
  border: none;
}